$boxshadow-item-color: rgba(0, 86, 115, 0.3);
$border-item-color: rgba(1, 161, 102, 0.2);
$header-color: #f9e5e6;
$text-back-color: black;
$primary-color: #e93636;
$white-color: rgb(255, 255, 255);
$gradient: linear-gradient(-45deg,
        #fc6c8f,
        #ff2ced,
        #ffb86c,
        #2cccff,
        #20e3b2,
        #ffcc70,
        #c850c0,
        #4158d0);
$background_item_left_color : rgb(243, 243, 243);

.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    .left {
        display: flex;
        justify-content: space-evenly;

        .header_left {
            margin-top: 0;
            margin-bottom: 5px;
            text-align: center;
            color: $text-back-color;
            font-size: 20px;
        }

        .item_left1 {
            margin: 10px;
        }

        .item_left2 {
            border-radius: 5px;
            margin: 10px;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            align-items: center;

            .box_info_left2 {
                width: 100%;
                border-radius: 5px;
                justify-content: center;
                display: flex;
                flex-direction: column;
                background: $background_item_left_color;
                padding: 10px;
                font-weight: 500;

                .text {
                    margin-top: 4px;
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                    color: $text-back-color;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .text2 {
                    margin-top: 4px;
                    font-weight: 400;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 18px;
                    color: $text-back-color;
                }

                .text2:first-child {
                    margin-top: 0;
                }

                .text,
                .text2 {

                    .title {
                        font-weight: 500;
                        margin-right: 5px;
                    }
                }
            }

            .btn {
                height: 30px;

                .icon {
                    font-size: 15px;
                    margin-top: -1px;
                }

                .text {
                    font-size: 10px;
                    margin-top: 3px;
                }
            }
        }

        .item_left3,
        .item_left4 {
            margin: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .box_info_left_3_4 {
                max-height: 300px;
                overflow-y: scroll;
                border-radius: 5px;


                .item {
                    background: $background_item_left_color;
                    margin-bottom: 10px;
                    justify-content: space-between;
                    display: flex;
                    padding: 10px 0px 10px 10px;
                    box-shadow: 1px 2px 4px 0 $boxshadow-item-color;

                    .item_left {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .text {
                            margin-top: 4px;
                            display: block;
                            font-size: 18px;
                            font-weight: 400;
                            color: $text-back-color;
                            line-height: 18px;
                            line-height: 1;

                            .title {
                                margin-right: 10px;
                                font-weight: 500;
                            }

                        }

                        .text+.text {
                            margin-top: 10px;
                        }

                        .dis_time {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 50px;

                            .distance,
                            .time {
                                width: 12vw;
                                display: flex;
                                align-items: center;
                                color: #fc6c8f;
                            }
                        }
                    }

                    .item_right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }


                }
            }
        }

        .item_left4 {
            margin: 10px;
            border-radius: 5px;
        }

    }

    .right {
        margin-top: 10px;
        max-height: 400px;
        overflow-y: scroll;
        border-radius: 5px;
    }
}