$boxshadow-item-color: rgba(0, 86, 115, 0.3);
$border-item-color: rgba(1, 161, 102, 0.2);
$header-color: #f9e5e6;
$text-back-color: black;
$primary-color: #e93636;
$white-color: rgb(255, 255, 255);

.container {
    display: flex;
    justify-content: space-between;

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 32px;

        .image {
            background-color: blue;
            height: 250px;
            width: 250px;
            border-radius: 5px;
        }

        .btnUpload {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
    }

    #info {
        width: 320px;

        .idCar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .selection {
                width: 223px;
            }
        }
    }
}

.action {
    margin-top: 10px;

    .btnCreate {
        margin: 0 20px;
        background-image: linear-gradient(135deg, #008aff, #86d472);
        border-radius: 6px;
        box-sizing: border-box;
        color: #ffffff;
        z-index: 2;
        transition: .2s;
    }

    .btnCreate:hover,
    .btnCancel:hover {
        transform: scale(1.1);
    }

    .btnCancel {
        margin: 0 20px;
        background-image: linear-gradient(135deg, #f50a0a, #f1e0d3);
        border-radius: 6px;
        box-sizing: border-box;
        color: #ffffff;
        z-index: 2;
        transition: .2s;
    }
}


///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
/// CREATE SEAT////////////////////////////////////////////////////////////
.container_create_list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: scroll;

    .item_form {
        display: flex;
        margin-bottom: 20px;

        .item {
            display: flex;
            flex-direction: column;

            .box_input {
                display: flex;

                .title {
                    text-align: left;
                    display: block;
                    width: 70px;
                    font-size: 16px;
                    color: $text-back-color;
                }

                .input {
                    padding: 5px;
                    border-radius: 3px;
                    border-color: $border-item-color;
                    outline: none;
                }

                .input+.input {
                    margin-top: 5px;
                }
            }

            .btnDelete {
                margin-left: 10px;
            }
        }



    }
}