$primary-color: #e93636;
$white-color: rgb(255, 255, 255);
$gradient-1: #793E4D;
$gradient-2: #7F4042;
$gradient-3: #884136;

.container {
  padding: 0;
  margin: 0;
  min-height: 100vh;

}

.header {
  position: relative;
  display: flex;
  background-color: $primary-color;
  color: $white-color;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  line-height: 70px;
  z-index: 10;

  .header_icon_left,
  .header_icon_right {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: none;
    margin: 1vh 2vw;
    line-height: 1.8;
    text-align: center;
  }

  .login_reg {
    font-size: 16px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
  }

  .header_item,
  .header_item_logo {
    font-weight: 400;
    font-size: 25px;
  }

  .header_item+.header_item {
    margin-left: 30px;
  }

  .header_item {
    position: relative;
    transition: top 0.15s ease;
    top: 0;
    font-size: 20px;
  }

  .header_item:hover {
    top: -3px;
  }
}

.main {
  position: relative;
  min-height: calc(100vh - 70px);
  width: 100%;
  background-image: url('./img/home.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;


  .booking {
    position: absolute;
    width: 400px;
    background-color: $primary-color;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;

    .booking_title {
      width: 100%;
      color: $white-color;
      text-align: center;
      font-size: 44px;
      font-weight: 500;
      margin: 10px 0;
    }

    p {
      color: $white-color;
      font-size: 13px;
      padding-left: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 0;

      .booking_icon {
        width: 24px;
        display: inline-block;
      }
    }

    .booking_input {
      background: $white-color;
      border-radius: 5px;
      width: 340px;
      margin: 5px 30px 0;
      line-height: 1.4;
    }

    .booking_btn {
      text-transform: none;
      line-height: 30px;
      font-size: 22px;
      background: #1f2746;
      font-weight: 600;
      display: flex;
      margin: 20px auto;
    }
  }

  .controller {
    display: none;
  }
}

.main::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  right: 0;
  background-image: linear-gradient(90deg, rgba(238, 225, 225, 0), $white-color, $white-color, $white-color);
  min-height: calc(100vh - 70px);
  margin-left: auto;
}

/* Tablet & moblie */
@media screen and (max-width: 1023px) {}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    .header_item {
      font-size: 16px;
      line-height: 1.4;
    }
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;

    .header_icon_left,
    .header_icon_right {
      display: flex;
      margin: 0 20px;
      align-items: center;

      .right_icon {
        font-size: 35px;
        animation: rotateIcon ease 0.3s, rotateIconF ease 0.3s forwards   ;
        transform-origin: 50% 50%;
      }
    }

    @keyframes rotateIcon {
      from {
        transform: rotate(180deg);
      }
      to {
        transform: rotate(270deg);
      }
    }

    @keyframes rotateIconF {
      from {
        transform: rotate(270deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .header_icon_left {
      color: $primary-color;
      font-size: 35px;
      cursor: none;
    }

    .header_list_item {
      position: absolute;
      display: block;
      top: 100%;
      right: 0;
      background: $primary-color;
      z-index: 100;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 40vw;
      box-shadow: -1px 1px 5px $white-color;
      display: none;
      animation: showMenu ease 0.15s;
      transform-origin: 80% 0%;

      li {
        margin: 0;
        line-height: 2.8;
      }

      li:hover {
        background-color: $gradient-3;
      }
    }

    @keyframes showMenu {
      from {
        transform: scale(0.7);
        opacity: 0;
      }

      to {
        transform: scale(1);
        opacity: 1;
      }
    }

    .active_list_item {
      display: block;
    }

    .header_item {
      position: relative;
      font-size: 16px;
      line-height: 2;
    }

    .login_reg {
      display: none;
    }
  }

  .main {
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .booking::before {
      content: "Chanhxe.com";
      display: block;
      font-size: 35px;
      position: absolute;
      top: -50px;
      width: 100%;
      left: 0;
      text-align: center;
      color: $primary-color;
      font-weight: 700;
    }

    .booking {
      width: 80%;
      top: 44%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .booking_title {
        font-size: 24px;
      }

      #form {
        text-align: center;
        margin-right: 0;

      }

      p {
        padding-left: 0;
      }

      .booking_input {
        width: 70vw;
        margin: 3px auto;
      }

      .controller {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        transform: translateX(-50%);
        bottom: -35%;
        width: 50%;
        z-index: -10;

        .booking_login {
          margin: 8% 0;
          text-transform: none;
          background-image: linear-gradient(to right, $gradient-1, $gradient-2, $gradient-3);
          font-size: 14px;
          font-weight: 600;
        }

        .booking_register {
          font-size: 14px;
          font-weight: 600;
          text-transform: none;
          color: $gradient-2;
          border: 1.5px solid $gradient-2;
        }
      }
    }
  }

  .main::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(238, 225, 225, 0), $white-color);
  }
}