.hamburber {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(255, 101, 47,.2);
    transition: all 0.5s ease-in-out,
    "&::before" {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: translateY(-10px);
    },
    "&::after" {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: translateY(10px);
    }
  }
  .activeHamburger {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transform: translateX(-50px);
    background: transparent;
    transition: all 0.5s ease-in-out,
    "&::before" {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: rotate(45deg) translate(35px, -35px);
    },
    "&::after" {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: rotate(-45deg) translate(35px, 35px);
    };
  };