$boxshadow-item-color: rgba(0, 86, 115, 0.3);
$border-item-color: rgba(1, 161, 102, 0.2);

.header {
    height: 60px;
    width: 100%;
    display: flex;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

    .nav {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .box {
            display: flex;
            align-items: flex-end;
            width: 80%;

            .icon {
                margin: 0.5 1 0.5 3;
            }
        }
    }
}

.subheader {
    font-size: 20px;
    font-weight: 600;
    color: #000;

}

.nav_admin {
    border: "2px solid rgb(245, 245, 245";
    margin-top: "10px";
    display: "flex"
}

.option {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 5px;

    .area {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        span {
            width: 100px;
        }
    }
}

.wrapper {
    padding: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow-y: scroll;
}

.g_container {
    margin: 0;
    padding: 10px;

    .g_item {
        padding: 10px;
        height: 220px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 2px 4px 0 $boxshadow-item-color;
        border: 1px solid $border-item-color;

        .g_item_image {
            width: 100%;
            height: 150px;
            border-radius: 10px;
        }

        .g_item_name {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}